.jumbotron {
    background-color: $secondary-color;
}

.imgContainer {
    height: 450px;
    background-size: cover;
}

.card {
    border: none;
}

.imgSeries {
    height: 200px;
}

.j_btn_top {
    padding: 1rem;
    background-color: $primary-color;
    width: 15%;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -25px;
    left: 350px;
}

.j_btn {
    padding: 1rem;
    background-color: $primary-color;
    width: 20%;
    font-weight: bold;
}